ServerSignature Off
FileETag None

RewriteEngine On

# Bloqueio de Bots e Injeções
RewriteCond %{HTTP_USER_AGENT} ^-?$ [OR]
RewriteCond %{HTTP_USER_AGENT} (acunetix|binlar|casper|curl|java|libwww|nmap|perl|python|sqlmap|wget|bot|spider|crawl) [NC]
RewriteRule ^.* - [F,L]

# Rotas SPA - Entry Points
RewriteRule ^auth$ public/views/auth/index.html [L]
RewriteRule ^admin$ public/views/admin/index.html [L]
RewriteRule ^coordinator$ public/views/coordinator/index.html [L]
RewriteRule ^student$ public/views/student/index.html [L]

# Redirecionamento Global para pasta Public (CSS, JS, Imagens, API)
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]